body {
    background: #f4f4f4;
}

.header {
    border-bottom: 3px #ccc solid;
}

.social {
    float: right;
    padding-top: 25px;
}

.social img {
    width: 40px;
}

.showcase {
    padding: 40px 0;
    height:400px;
    margin-bottom: 20px;
    background: #f4f4f4 url('../img/showcase.jpg') no-repeat top center;
    border-bottom: 3px #ccc;
}

.showcase h1 {
    font-size: 50px;
}

.showcase p {
    font-size: 20px;
}

.boxes {
    text-align: center;
}

.boxes i{
    font-size: 50px;
    text-align: center;
    margin: auto;
    display:block;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    height: 80px;
    padding-top: 30px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.side-menu h4{
    background: #42a5db;
    color: #fff;
    padding: 8px;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background: #333;
    color: #FFFFFF;
}

.accordion .accordion-navigation:hover > a, .accordion dd:hover > a {
    background: #333;
    color: #FFFFFF;
}

.accordion .accordion-navigation > a, .accordion dd > a {
    background: #42a5db;
    color: #FFFFFF;
}