html, body, #map {
    height: 500px;
    padding: 0;
    margin: 0;
}
#cartocss {
    position: absolute;
    top: 20px;
    right: 20px;
}
#sql {
    position: absolute;
    top: 2rem;
    right: 4.2rem;
}
.layer_selector {
    background: rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 0;
    border: 1px solid #999;
    width: 250px;
}

.layer_selector > p {
    padding: 15px 30px;
    border-bottom: 1px solid #999;
    margin:0;
}

.layer_selector ul {
    padding: 0; margin: 0;
    list-style-type: none;
}
.layer_selector li {
    padding: 15px 30px;
    font-family: Helvetica, Arial;
    font-size: 13px;
    color: #444;
    cursor: pointer;
}
.layer_selector li:not(:last-child) {
    border-bottom: 1px solid #999;
}
.layer_selector li:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}
.layer_selector li.sql_selected,
.layer_selector li.cartocss_selected {
    /*background-color: #A6CEE3;*/
    background-color: #ffffff;
}

/*//Schools styles*/
.schools_map , .map-header {
  display:inline-block;
}


#mapHeader{
  display:inline-block;
  width:100%;
}

.schools_selector {
  width:auto;
}

/*Villages styles*/
.villages_map { position:relative;}
.villages_map .title{
  position: absolute;
  z-index: 10000;
  top: 70px;
  left: 100px;
  background-color: rgba(0, 0, 0, 0.701961);
  padding: 10px;
  font-style: italic;
  font-size: 20px;
  color: #ffffff;
}
.villages_map .title p{
  margin:0;
  padding:0;
}
.layer_selector.villages_selector {
  background-color: rgba(255, 224, 102, 0.87);
}
.layer_selector.villages_selector ul {
  position:relative;
}
.layer_selector li[data^="larger100k"]:before {
    content: '';
    position: absolute;
    background-color: #FF6600;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 19px;
    left: 11px;
}
.layer_selector li[data="larger100k_women"]:before {
  background-color: #A53ED5;
  top:68px;
}
.layer_selector li[data="larger100k_men"]:before {
  background-color: #5CA2D1;
  top:134px;
}

.layer_selector li[data="reset"] {
  text-align: center;
}
.layer_selector p {
  text-align: center;
}
