/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;∫
	vertical-align: baseline;
  font-family: 'Quicksand', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* body */
body {
  height:1000px;
}

/* header */
header {
  width:100%;
  background-color: #3356ae;
  height:3em;
}
  header h1 {
    color:#fff;
    font-size: 30px;
    font-weight: 700;
    padding:10px;
    font-style:italic;
  }

/* container */
.container {
  height:100%;
}

/* menu */
nav {
  float:left;
  height:100%;
  background-color: #ffffff;
  color:#fff;
	border-right: 1px solid #cdcdcd;
	padding:10px;
  /*width:30%;*/
}

  nav ul {
    padding: 10px 0 0 10px;
  }

  nav ul li {
    padding: 10px;
  }

	nav a {
		width:100%;
		display:block;
		padding:5px;
	}
	nav a.selected {
		background-color: #7993D4;
		color:#ffffff;
	}

/* main */
main {
  width:70%;
  display: inline-block;
}

main .sitelist {
	perspective: 100px;
}

main .sample-card {
  margin:0 auto;
  width:70%;
  margin-top:10px;
	opacity: 0;
	transition: all 0.7s ease-out;
}

  main .sample-card table {
    border: 1px solid #cdcdcd;
    width: 100%;
  }
  main .sample-card td {
    padding:10px;
  }
  main .sample-card td.title-item {
    background-color: #ececec;
  }

	main .sample-card.show {
		opacity: 1;
	}

/* footer */
footer {
  width:100%;
  background-color: #3356ae;
  clear: both;
  position:fixed;
  bottom:0;
  text-align: center;
  color:#fff;
}
  footer ul li {
    padding:10px;
  }
/* overlay */
.overlay {
  position:absolute;
  width:100%;
  height:100%;
  background-color: #ececec;
  opacity: 0.5;
  top:0px;
  left:0px;
  text-align: center;
}

  .overlay img {
    margin-top:50%;
  }


/* Media queries */
@media (max-width: 600px) {
  nav {
    float: none;
    width:100%;
    height:auto;
  }

  main {
    display:block;
    width:100%;
  }

  main .sample-card {
    width:91%;
  }

	.kk { display: block;}

}
