
<div class="row" ng-controller='DrivingDirectionsController' ng-init='load()'>
        <div class="col-lg-12">
            <h1 class="pull-left">Driving directions</h1>
            <a ng-click="toggleMenu()" class="btn btn-default pull-right" id="menu-toggle">Toggle Menu</a>
        </div>

        <br/>
        <br/>
        <h5 class="text-center">Click in any SF school to get the driving route to the exploratorium</h5>

        <div class="col-lg-12">
            <div id="map"></div>
        </div>
</div>
